:root {
  --bg: rgb(255, 255, 255);
  --nav-height: 44px;
  --nav-gap: 45px;
  --home-bg-position-y: 35%;
  --panel: rgba(255, 255, 255, 0.84);
  --panel-strong: #ffffff;
  --text: rgb(0, 0, 0);
  --muted: rgb(0, 0, 0);
  --line: rgba(19, 36, 61, 0.1);
  --blue: #ccaa88;
  --blue-2: #ccaa88;
  --shadow: 0 24px 60px rgba(16, 35, 61, 0.12);
}

:root[data-theme="dark"] {
  --bg: rgb(0, 0, 0);
  --panel: rgb(45, 45, 48);
  --panel-strong: rgb(45, 45, 48);
  --text: rgb(255, 255, 255);
  --muted: rgb(255, 255, 255);
  --line: rgba(222, 236, 255, 0.12);
  --blue: #ccaa88;
  --blue-2: #ccaa88;
  --shadow: 0 24px 60px rgba(0, 0, 0, 0.35);
}

@font-face {
  font-family: "Endfield PingFang SC";
  src: url("../assets/fonts/苹方黑体-准-简.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Endfield PingFang SC";
  src: url("../assets/fonts/苹方黑体-中黑-简.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Endfield PingFang SC";
  src: url("../assets/fonts/苹方黑体-中粗-简.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Novecento Sans Wide";
  src: url("../assets/fonts/novecento/Novecentosanswide-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Novecento Sans Wide";
  src: url("../assets/fonts/novecento/Novecentosanswide-Book.otf") format("opentype");
  font-weight: 350;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Novecento Sans Wide";
  src: url("../assets/fonts/novecento/Novecentosanswide-Normal.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Novecento Sans Wide";
  src: url("../assets/fonts/novecento/Novecentosanswide-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Novecento Sans Wide";
  src: url("../assets/fonts/novecento/Novecentosanswide-Medium.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Novecento Sans Wide";
  src: url("../assets/fonts/novecento/Novecentosanswide-Medium.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
